@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter_18pt-ExtraLight.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter_18pt-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --color-bg: #F9FAFB;
  --color-text: #1F2937;
  --color-text-sec: #4B5563;
  --color-primary: #2563EB;
  --color-secondary: 22D3EE;
  --color-success: #10B981;
  --color-error: #EF4444;
  --color-input: #D1D5DB;
  --color-panel-bg: #FFFFFF;
  --color-divider: #E5E7EB;  
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

body,
html {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  text-align: center;
}

header {
  padding: 1rem;
  background-color: var(--color-panel-bg);
  border-bottom: 2px solid var(--color-divider);
}

#container-data {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 1rem;
}

.field {
  text-align: start;
}

.field-label {
  margin-left: 0.25rem;
}

button,
select {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

form {
  padding: 1rem;
}

input,
output {
  display: block;
  width: 250px;
  margin-top: 0.5rem;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  font-family: inherit;
  color: var(--color-text-sec);
  background-color: var(--color-panel-bg);
  border: 1px solid var(--color-divider);
  border-radius: 6px;
  box-sizing: border-box;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit--outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}